@import "./variables.scss";

#drum-machine {
    display: flex;
    flex-direction: row;
    @media (max-width: 799px) {
        flex-direction: column;
    }

    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    width: 80%;
    height: 50vh;
    background-color: $boxColor;
    margin: auto;
    margin-top: 10vh;
    border: 2px solid $textColor;
    border-radius: 15px;
}
